/* styles.css */

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

h1 {
  font-size: 2em;
  color: #333;
}

.main-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 250px; /* Aumentei a largura */
  background-color: #fff;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  overflow-y: auto; /* Adicionei um overflow para scroll */
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  padding: 10px;
  cursor: pointer;
  color: #333;
  border-bottom: 1px solid #ddd;
}

.sidebar li.active {
  background-color: #007bff;
  color: #fff;
}

.sidebar li:hover {
  background-color: #007bff;
  color: #fff;
}

.video-content {
  flex: 1;
  padding: 20px;
}

.video-wrapper {
  text-align: center;
  margin-bottom: 20px;
}

.navigation {
  display: flex;
  justify-content: space-between;
}

.navigation button {
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
}

.navigation button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
